<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>

<div class="container">

  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <!-- 추가 -->
  <!--<h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->

  <div>
    <label for="Title">제목</label>
    <input type="text" id="Title" name="Title" class="form-control" value="상품A" th:value="${article.title}" readonly>
  </div>
  <div>
    <label for="Content">내용</label>
    <input type="text" id="Content" name="Content" class="form-control" value="10000" th:value="${article.content}" readonly>
  </div>
  <div>
    <label for="category">카테고리</label>
    <input type="text" id="category" name="category" class="form-control" value="10" th:value="${article.category}" readonly>
  </div>


  <hr class="my-4">

  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='editForm.html'"
              th:onclick="|location.href='@{/article/{articleId}?redirect=modify(articleId = ${articleId})}'|"
              type="button">글 수정</button>
    </div>

    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='deleteForm.html'"
              th:onclick="|confirmDelete('${article.id}')|"
              type="button">글 삭제</button>
    </div>

    <script th:inline = "javascript">
      function confirmDelete(articleId) {
        if (confirm("게시글을 삭제하시겠습니까?")){
          //window는 뭘까?
          window.location.href = "/article/" + articleId + "?redirect=delete";
        }
      }
    </script>

    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/article}'|"
              type="button">목록으로</button>
    </div>
  </div>

  <form action="item.html" th:action="@{|/article/${articleId}/comment|}" th:object="${comment}" method="post">
    <div>
      <label for="comment">내용</label>
      <input type="text" id="comment" th:field="*{content}"
             th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요">
      <div class="field-error" th:errors="*{content}">
        내용 오류
      </div>
    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
      </div>
    </div>
  </form>

  <div>
    <table class="table">
      <tbody>
      <tr th:each="comment : ${comments}">
        <td th:text = "${comment.content}">댓글 내용</td>
        <!--<td><a href="index.html" th:href="@{|/article/${article.id}|}" th:text="${article.title}">게시글 제목</a></td>
        <td th:text="${article.viewCount}">10000</td>-->
        <!--<td th:text="${article}">10</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>